p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-style: normal;
  font-size: 25px;
}

body {
position: relative;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-btn {
  position: absolute;
  top: 10px;
  right: 110px;
  width: 10px;
}


.main {
  display: grid;
  background-color: #d9d9d9;

  border-radius: 10px;
  width: 20rem;
  height: 20rem;
  position: relative;
}

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  /* border-radius: 20rem; */
  width: 100%;
  max-width: 400rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 2px 0px grey;
}

.switch::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s linear;
  box-shadow: -1px -1px 2px 1px rgb(0, 0, 0, 0.25) inset;
}

input[type="checkbox"]:checked + ::after {
  translate: 2rem 0;
}

input[type="checkbox"]:checked + .switch {
  background-color: rgb(0, 242, 125);
}

input[type="checkbox"] {
  display: none;
}

lable {
  margin-left: 100px 0px;
}

div.container {
  box-sizing: border-box;
  padding-left: 25px;
}
